<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whaley.launcher"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="22" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/app_icon"
        android:theme="@style/Theme.Launcher"
        android:windowSoftInputMode="stateAlwaysHidden">

        <uses-library android:name="com.mstar.android" android:required="false" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"
            android:screenOrientation="landscape">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
